
*.__i
*.obj
*._ia
*.ls1
*.lst
*.MAP
*.lst
*.obj
*._ia
*.OBJ
*.SRC
*.lnp
*.bin
*.SBR
*.bak
*.hex
*.lst
*.omf
*.SRC
*.gitignore
*.MAP
*.__i
*._ia
*.Administrator
*.bak
*.bin
*.hex
*.plg
*.obj
*.SBR
*.OBJ
*.lnp
*.ls1
*.uvopt